<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>360.Agency</title>
<!-- Bootstrap Core CSS -->
<link href="./static/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="./static/css/theme.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="./static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<iframe width="640" height="360" class="video-parallax"
        src="https://www.youtube.com/embed/Xd0Ok-MkqoE?autoplay=1&loop=1&mute=1&rel=1?autoreplay=1" 
        frameborder="0" allow="autoplay; encrypted-media" 
        allowfullscreen>
</iframe>

<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1 class="brand-heading">Here to find your dream car? </h1>
				<p class="intro-text">
					360.Agency
				</p>
				<a href="#questionaire" class="page-scroll" class="intro-button">
                    Let's get started
				</a>
			</div>
		</div>
	</div>
</div>
</header>

<!-- Questionaire Section -->
<section id="questionaire">
<div class="container content-section">
	<div class="row">
		<h2 class="text-center">Answer some questions so we can know you better</h2>
		<form class="contact100-form validate-form">
			<legend class="input-label">
				Price Range
			</legend>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
                <input class="input100" type="number" name="price-range-max" min="0" placeholder="MIN" step="1000"/>
                <input class="input100" type="number" name="price-range-min" placeholder="MAX" step="1000"/>
			</div>
		
				<legend class="input-label">
					Type of Car 
				</legend>
				<div class="row">
					<div class="col-md-3">
						<input type="radio" name="type-car" class="sr-only radio-img" id="sedan">
						<label for="sedan">
							<img src="https://i.dlpng.com/static/png/270944_preview.png">
						</label>
					</div>
					<div class="col-md-3">
						<input type="radio" name="type-car" class="sr-only radio-img" id="minivan">
						<label for="minivan">
							<img src="https://di-uploads-pod10.dealerinspire.com/oneillhonda/uploads/2018/09/Odyssey-EX.png">
						</label>
					</div>
					<div class="col-md-3">
						<input type="radio" name="type-car" class="sr-only radio-img" id="convertible">
						<label for="convertible">
							<img src="https://st.motortrend.com/uploads/sites/10/2016/09/2017-mercedes-benz-sl-450-convertible-angular-front.png">
						</label>
					</div>

					<div class="col-md-3">
							<input type="radio" name="type-car" class="sr-only radio-img" id="midsize">
							<label for="midsize">
					<img src="https://di-uploads-pod12.dealerinspire.com/universitymitsubishi/uploads/2018/06/2019-Mitsubishi-Eclipse-Cross.png">
							</label>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<input type="radio" name="type-car" class="sr-only radio-img" id="mini-cooper">
						<label for="mini-cooper">
							<img src="https://c4d709dd302a2586107d-f8305d22c3db1fdd6f8607b49e47a10c.ssl.cf1.rackcdn.com/thumbnails/stock-images/b7fcd1acd94e51eee92cfc52b14d29ed.png">
						</label>
					</div>
					<div class="col-md-3">
						<input type="radio" name="type-car" class="sr-only radio-img" id="sports">
						<label for="sports">
							<img src="https://i3.wp.com/exportcarfromuk.com/wp-content/uploads/2017/05/Aventador-Transparent-Background.png">
						</label>
					</div>
					<div class="col-md-3">
						<input type="radio" name="type-car" class="sr-only radio-img" id="jeep">
						<label for="jeep">
							<img src="https://sitejerk.com/images/jeep-wrangler-for-sale-by-owner-6.png">
						</label>
					</div>

					<div class="col-md-3">
							<input type="radio" name="type-car" class="sr-only radio-img" id="fullsize">
							<label for="fullsize">
					<img src="https://es.toppng.com/public/uploads/preview/car-png-11545045307loxqxkku4n.png">
							</label>
						</div>
				</div>
	

				<button class="btn">
					<span>
						Submit
					</span>
				</button>
        </form>
	</div>

</section>

<section id="output" >	
	<h2 class="text-center">Cars that match you the best</h2>

	<div class="row">
		<div class="col-md-4 card">
			<img src="https://tinyurl.com/y28rotvo" alt="John">
			<h1>John Doe</h1>
			<p class="title">CEO & Founder, Example</p>
			<p>Harvard University</p>
		</div>

		<div class="col-md-4 card">
			<img src="https://tinyurl.com/y28rotvo" alt="John">
			<h1>John Doe</h1>
			<p class="title">CEO & Founder, Example</p>
			<p>Harvard University</p>
		</div>
	</div>

</section>
<!-- jQuery -->
<script src="./static/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="./static/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="./static/js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="./static/js/theme.js"></script>
</body>
</html>